body{
  background-color: black;
  text-align: center;
}

h1,
h2,
p,
a{
  font-family: verdana;
}

h1,
h2{
  color: white;
}

h1{
  font-size: 50px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

p {
  color: grey;
  font-size: 21px;
}

a{
  color: Aquamarine;
  font-size: 16px;
}

.right-align{
  text-align: right;
}
